[Unit]
Description=Docker Deluged Service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=5
User=dockerdeluge
ExecStart=/usr/bin/deluged -d -c /home/dockerdeluge/.config/deluge -l /var/log/docker-deluged.log

[Install]
WantedBy=multi-user.target